---
- hosts: all
  become: true
  vars_files:
    - vars.yml

  tasks:
    - name: Ensure dependencies are installed
      apt:
        name: "{{ APT_PACKAGES }}"
        state: present

    - name: Install Docker
      shell: bash -c "curl -fsSL https://get.docker.com/ | sh"

    - name: Ensure Docker is started and enabled at boot
      service:
        name: docker
        state: started
        enabled: yes

    - name: Create docker group
      group:
        name: docker
        state: present
      
    - name: Adding vagrant user to group docker
      user:
        name: vagrant
        groups: docker
        append: yes

    - name: Install python packages
      pip:
        name: "{{ PIP_PACKAGES }}"
        extra_args: --upgrade
        executable: pip
        
    - name: Install ntp
      apt:
        name: ntp
        state: present
        
    - name: Set timezone to {{ TIMEZONE }}
      timezone:
        name: "{{ TIMEZONE }}"

    - name: Ensure ntp is started and enabled at boot
      service:
        name: ntp
        state: started
        enabled: yes